<div>
    <%= form_with model: @user do |form| %>
        <div>
            <%= form.label :name %>
            <%= form.text_field :name %>
        </div>
        <div>
            <%= form.label :username %>
            <%= form.text_field :username %>
        </div>
        <div>
            <%= form.label :email %>
            <%= form.text_field :email %>
        </div>
        <%= form.submit %>
<% end %>

</div>