<h1>Welcome to Ebay</h1>

<div> Please sign in </div>

<div>
    <%= form_with(url: login_index_path, method: "post") do |form| %>
        <%= form.label :address, "email" %>
        <%= form.email_field :address %>
        <%= form.submit "login" %>
    <% end %>
</div>

<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>